<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Enter new book:</h1>
    <form action="postnewbook" method="POST">
        <table>
            <tr>
                <td> <label>Title</label></td>
                <td> <input type="text" name="title" /></td>
            </tr>
            <tr>
                <td> <label></label>Author</label></td>
                <td> <input type="text" name="author" /></td>
            </tr>
            <tr>
                <td> <label>Topic</label></td>
                <td> <input type="text" name="topic" /></td>
            </tr>
            <tr>
                <td> <label>Cost</label></td>
                <td> <input type="number" name="cost" /></td>
            </tr>
            <tr>
                <td> <button>Submit</button></label></td>
            </tr>
        </table>
    </form>
    Click <a href="/"> HERE</a> to return to home page!!
</body>

</html>