<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Page</title>
</head>

<body>
    <style>
        h3 {
            text-align: center;
            color: brown;
        }
    </style>
    <h3>Your data is invalid</h3>
    <h3>not accept a title, topic or author name with less than 3 characters and a negative cost</h3>
    Click <a href="/"> HERE</a> to return to home page!!
</body>

</html>