<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="jumbotron text-center">
        <img src="/Week6_Lab6/public/image/bearded-coder-hacker-vector-17477705.jpg " width="180px">
        <h1>FIT2095 Clinic</h1>
        <h2>Week6 lab</h2>
    </div>

    <div class="container text-center">
        <button type="button" class="btn btn-primary" onclick="location.href='/'">Home</button>
        <p></p>
        <div>
            <button type="button" class="btn btn-primary" onclick="location.href='/addDoctor'">Add Doctor</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/addPatient'">Add Patient</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/listDoctors'">List Doctors</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/listPatients'">List Patients</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/deletePatient'">Delete Patient</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/updateDoctor'">Update Doctor</button>
        </div>
    </div>

</body>

</html>